# Python
__pycache__/
*.py[cod]
*$py.class

# MkDocs
/site/
docs/site/

# IDE
/.vscode/
/.idea/

# Logs
*.log
*.md

# Jupyter Notebook
*.ipynb

# Virtual Environment
.venv/

# Backups and Scratch
/backups/
/scratchs/

# Context
context.py