# Python
__pycache__/
*.py[cod]
*$py.class

# MkDocs
/site/
docs/site/

# IDE
/.vscode/
/.idea/

# Logs
*.log

# Jupyter Notebook
*.ipynb

# Virtual Environment
.venv/

# Templates
/templates/*

# Backups and Scratch
/backups/
/scratchs/

